export interface {{NAME}} {

  author?: string;

  content: string;

  like: number;

  createdAt: Date;

  updatedAt: Date;

}

export type {{NAME}}ID = string;

export type {{NAME}}InsertParams = Pick<{{NAME}}, 'content'> & Partial<Pick<{{NAME}}, 'author'>>;

export type {{NAME}}UpdateParams = Partial<{{NAME}}InsertParams>;
